{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-fit h-fit mx-auto mt-[180px]">
        <p class="font-inter text-[20px] text-center">2-Step Verification Set Up</p>
    </div>
    <div class="w-fit h-fit mx-auto text-center mt-[20px]">
        <p class="font-inter text-[16px]">Scan this QR code with Authenticator App</p>
    </div>
    <div class="w-fit h-fit mx-auto">
        <img class="mt-[20px] w-[200px] h-[200px]" src="{{ qrCode }}"/>
    </div>
    <div class="w-fit h-fit mx-auto">
        <button id="cannot-scan-qr-code" class="font-inter text-[14px] mx-auto">Can't scan the QR code?</button>
    </div>
    <div id="code-2fa" class="w-fit h-fit mx-auto mt-[8px] hidden">
        <div class="w-fit h-fit mx-auto">
            <p class="font-inter text-[14px]">Use this code</p>
        </div>
        <div class="max-w-[260px] h-fit mt-[8px]">
            <p class="font-inter text-[16px] text-center break-all">{{ code }}</p>
        </div>
    </div>
    <div class="w-fit h-fit mx-auto mt-[30px]">
        <form action="{{ path('dashboard_profile_two_factor_authentication') }}?action=enable" method="post">
            <div class="w-fit h-fit">
                <input type="text" name="code" class="text-[16px] pl-[8px] pr-[8px] pb-[11px] font-inter focus:outline-none w-[260px]" placeholder="Type the verification code..." required/>
            </div>
            <div class="h-[2px] w-[260px] bg-[#2e4053] rounded"></div>
            <div class="w-fit h-fit mx-auto mt-[40px]">
                <button class="font-inter text-[18px] text-white w-[100px] h-[40px] bg-black hover:text-grey transition rounded">Continue</button>
            </div>
        </form>
    </div>
    <script src="{{ asset('js/profile/2faCode.js') }}"></script>
{% endblock %}