{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-fit h-fit mx-auto mt-[300px]">
        <p class="font-inter text-[20px] text-center">2-Step Verification de Set Up</p>
    </div>
    <div class="w-fit h-fit mx-auto mt-[40px]">
        <form action="{{ action }}" method="POST">
            <div class="w-fit h-fit">
                <input autocomplete="off" type="text" name="code" class="text-[16px] pl-[8px] pr-[8px] pb-[11px] font-inter focus:outline-none w-[260px]" placeholder="Type the verification code..." required/>
            </div>
            <div class="h-[2px] w-[260px] bg-[#2e4053] rounded"></div>
            <div class="w-fit h-fit mx-auto max-w-[260px] mt-[30px]">
                <p class="font-inter text-[14px] text-center">By clicking 'Continue' you will remove your 2-Step Verification</p>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('disable_2fa') }}">
            <div class="w-fit h-fit mx-auto mt-[30px]">
                <button class="font-inter text-[18px] text-white w-[100px] h-[40px] bg-black hover:text-grey transition rounded">Continue</button>
            </div>
        </form>
    </div>
{% endblock %}