###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> composer ###
*.phar
###< composer ###

###> phpstorm ###
.idea
###< phpstorm ###

###> ssl ###
*.key
private.pem
###< ssl ###

###> files ###
/public/files/
###< files ###

##> npm ##
/node_modules
##< npm ##

##> ddev ##
/.ddev
##< ddev ##

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
