###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> composer ###
*.phar
###< composer ###

###> phpstorm ###
.idea
###< phpstorm ###

###> ssl ###
*.key
private.pem
###< ssl ###

###> files ###
/assets/files/items/*
/assets/files/profile/*
/assets/files/organisation/*
###< files ###

##> npm ##
/node_modules
##< npm ##

##> ddev ##
/.ddev
##< ddev ##

/.env
/.env.test

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
