<div class="w-full">
    <div class="relative w-[80%] mx-auto">
        <div id="menu" class="absolute h-fit cursor-pointer w-[20px] top-[24.5px] left-[30px]">
            <div class="h-[2px] bg-black my-[6px]"></div>
            <div class="h-[2px] bg-black my-[6px] w-[80%]"></div>
            <div class="h-[2px] bg-black my-[6px] w-[60%]"></div>
        </div>
        <div class="flex justify-center mx-auto max-w-[900px]">
            <div class="h-[78px] w-fit pt-[19.5px]">
                <p class="font-inter text-[26px] select-none">{{ path_name|capitalize }}</p>
            </div>
        </div>
        <div class="relative mx-auto h-[2px] bg-[#ebebeb] w-full rounded"></div>
    </div>
</div>