{% extends 'react.base.html.twig' %}

{% block body %}
    <div id="root" data-props="{{ { username: username, error: error } | json_encode }}"></div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
{% endblock %}

{% block scripts %}
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
{% endblock %}