{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registration success</h1>
    <p>Please follow the link in your Email to verify it.</p>
    <p>If you already did it, pleas reload this page!</p>
{% endblock %}
