<div id="{{ key }}_flash_error" class="absolute top-[0px] w-full h-fit bg-red-100 flex justify-center pt-[6px] border-b-2 border-red-400 flash-messages cursor-pointer z-[1000] opacity-[96%]" onclick="closeFlashMessage(this.id)">
    <p class="pb-[6px] font-inter">{{ message }}</p>
    <p class="font-inter text-[12px] pl-[10px] pt-[4px]">(Click on this message to close it.)</p>
</div>