<div id="{{ key }}_flash_error" class="flash absolute shadow-md right-[0px] top-[100px] px-[8px] py-[8px] w-[200px] h-fit bg-[#232323] border-l-4 border-[#ff5447] cursor-pointer z-[1000]" onclick="closeFlashMessage(this)">
    <p class="text-[16px]">{{ message }}</p>
</div>