{% if error is not null %}
    <div class="w-[240px] mx-auto h-fit flex justify-center border-2 border-[#ff5447] pt-[8px] pb-[8px] pl-[8px] pr-[8px] rounded mt-[20px]">
        <p class="text-[#ff5447] text-[14px]">{{ error }}</p>
    </div>
{% endif %}