@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-black
}

p {
    @apply text-white
}

p {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-white
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a {
    @apply text-white
}

#login-box {
    @apply bg-[#222222] w-[300px] h-fit absolute rounded-lg sm:w-[400px]
}

#login-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-content-box {
    @apply relative w-full h-fit
}

.error-message-box {
    @apply border-2 border-red-400 rounded w-[260px] h-fit pt-[8px] pb-[8px] pl-[30px] pr-[8px] mx-auto mt-[40px]
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #343434 inset;
    box-shadow: 0 0 0px 1000px #343434 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
}
