<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}STEXS{% endblock %}</title>
        <link rel="icon" href="{% block icon %}{% endblock %}">
        <link rel="stylesheet" href="{{ asset('build/assets/style.css') }}">
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% for key, message in app.flashes('success') %}
            {% include 'components/flashMessages/succes.twig' %}
        {% endfor %}
        {% for key, message in app.flashes('error') %}
            {% include 'components/flashMessages/error.twig' %}
        {% endfor %}
        {% block body %}
        {% endblock %}
    </body>
</html>