<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🔒</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/assets/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script type="module">
            import RefreshRuntime from "http://localhost:5174/@react-refresh"
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://localhost:5174/src/main.ts" defer></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% for key, message in app.flashes('success') %}
        {% include 'components/flashMessages/succes.twig' %}
    {% endfor %}
    {% for key, message in app.flashes('error') %}
        {% include 'components/flashMessages/error.twig' %}
    {% endfor %}
        <div class="absolute w-full h-[100vh] left-[0px] top-[0px] right-[0px] bg-black bottom-[0px] opacity-0 z-[-1] transition-all" id="blur"></div>
        <div class="flex">
            {% include 'sideBar.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/dashboard/navbar.js') }}"></script>
        <script src="{{ asset('js/basic/closeFlashMessage.js') }}"></script>
    </body>
</html>