{% extends 'base.html.twig' %}

{% block body %}
    <p class="font-inter text-[16px]">Code for resetting your email address</p>
    <p class="font-inter text-[18px]">{{ code }}</p>
{% endblock %}