{% extends 'baseDashboard.html.twig' %}

{% block body %}
    <div class="overflow-x-hidden overflow-y-scroll w-full h-[100vh] flex">
        <div class="flex w-full h-fit">
            <div class="relative">
                <form action="{{ path('dashboard_account') }}" method="post" enctype="multipart/form-data" name="profile-pic-form">
                    <div class="z-10 border-2 border-[#2e4053] bg-white absolute rounded w-[40px] h-[30px] left-[90px] top-[80px]" id="edit-prf-pic">
                        <input id="prf-pic-input" name="profile-picture" type="file" class="opacity-0 cursor-pointer w-[36px] h-[26px] absolute">
                        <input name="form-type" type="hidden" value="picture">
                        <div class="w-full h-full pt-[6px] pl-[10px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="w-[124px] h-[124px] rounded-full bg-[#2e4053]">
                        <img src="{% if user.profilePic is not null %} {{ asset(user.profilePic) }} {% else %} {{ asset('files/profile/default.jpg') }} {% endif %}" class="relative top-[2px] left-[2px] w-[120px] h-[120px] rounded-full">
                    </div>
                    <div class="absolute flex-none w-[260px] h-[300px] bg-black opacity-0 z-0 rounded-lg transition-all" id="imgprwbox">
                        <div class="absolute top-[20px] left-[30px]">
                            <img id="imgprw" class="w-[200px] h-[200px]" src="#">
                        </div>
                        <div class="absolute bottom-[0px] w-full h-[80px] flex justify-around">
                            <div class="relative top-[10px]">
                                <button type="button" class="text-red-700 h-[40px] w-[80px] rounded border-2 border-[#2e4053]" id="discardprfimg">Discard</button>
                            </div>
                            <div class="relative top-[10px]">
                                <button type="submit" class="text-white h-[40px] w-[80px] rounded bg-[#06b6d4]" id="saveprfimg">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            let prfpicinput = document.getElementById('prf-pic-input');
            let imgprwbox = document.getElementById('imgprwbox');
            let imgprw = document.getElementById('imgprw');
            let discardprfimg = document.getElementById('discardprfimg');
            let saveprfimg = document.getElementById('saveprfimg');

            prfpicinput.onchange = evt => {
                const [file] = prfpicinput.files
                if (file) {
                    imgprw.src = URL.createObjectURL(file)
                    imgprwbox.style.opacity = '1'
                    imgprwbox.style.zIndex = '110'
                }
            }

            discardprfimg.addEventListener('click', function handleClick() {
                imgprwbox.style.zIndex = '0'
                imgprwbox.style.opacity = '0'
                imgprw.src = '#'
            });
        </script>
        <script>

        </script>
    </div>
{% endblock %}
