{% extends 'baseDashboard.html.twig' %}

{% block body %}
    <div class="overflow-x-hidden overflow-y-scroll scrollbar-hide w-full h-[100vh]">
        {% include 'website/dashboard/components/navbar.html.twig' %}
        <div class="flex max-w-[1000px] mx-auto h-fit pt-[40px]">
            <div class="relative w-full flex justify-evenly">

            </div>

        </div>
    </div>
{% endblock %}