<div class="w-fit h-fit">
    <form id="search-form" method="GET" action="{{ path('dashboard_creator') }}" class="flex">
        <input id="search-phrases" class="font-inter shadow-md hover:shadow-xl w-full transition focus:shadow-md rounded focus:outline-none text-[14px] pl-[8px] pt-[4px] pb-[4px] pr-[8px]" type="text" value="{% if app.request.query.get('search')|length > 0 %}{{ app.request.query.get('search') }}{% endif %}" name="search" placeholder="Search">
        <div type="submit" class="w-[29px] h-[29px] rounded relative pt-[6px] pl-[6px] hover:shadow-md transition">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </form>
</div>
<script src="{{ asset('js/basic/search.js') }}"></script>