{% extends 'base-without-components.html.twig' %}

{% block body %}
    <div class="overflow-x-hidden overflow-y-scroll scrollbar-hide w-full h-[100vh]">
        <div id="content-box" class="mx-auto h-fit pt-[40px]">
            <p class="font-inter text-[28px]">Permission denied!</p>
        </div>
    </div>
{% endblock %}