{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <header>
       <nav>
           <div class="top-nav">
                Top NAV
           </div>
           <div class="bottom-nav">
                Bottom NAV
           </div>
       </nav>
    </header>
{% endblock %}
